@page "/charts"

<h3>Financial Charts Dashboard</h3>

<div class="row">
    <div class="col-md-6">
        <IncomeVsExpenses />
    </div>
    <div class="col-md-6">
        <SpendingByCategory />
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-12">
        <SpendingOverTime />
    </div>
</div>
